body
{
  font-family: "Trebuchet MS", Geneva, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../images/bg_body.jpg);
  background-repeat: repeat-x;
  background-color: #F7FFF5;
  color: #81571F;
}

img
{
  border: none;
}

a
{
  color: #81571F;
  text-decoration: underline;
}

a:hover
{
  color: #CC0000;
  text-decoration: none;
  font-size: 105%;
}

.form_error
{
  padding-left: 85px;
  color: #d8732f;
}
